/* DASHBOARD */
#dash {
  font-size: 9pt;
  color: #eeeeec;
  background-color: rgba(lighten($ubuntu,10%), 0.40);
  padding: 4px 0;
  border: 1px solid rgba($cool-grey, 0.4);
  border-left: 0;
  border-radius: 0 3px 3px 0;
}

#dash:rtl {
  border-radius: 9px 0 0 9px;
}

#dash .placeholder {
  background-image: none; //    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
  background-size: contain;
  height: 24px;
}

#dash .empty-dash-drop-target {
  width: 24px;
  height: 24px;
}

.dash-item-container > StWidget {
  padding: 4px 8px;
}

.dash-label {
  border-radius: 1px;
  padding: 4px 12px;
  color: #white;
  background-color: rgba($ubuntu,0.75);
  text-align: center;
  box-shadow: 0 1px 3px transparentize($cool-grey, 0.8);
  -x-offset: 1px;
}
